.AddTaskButton {
  cursor: pointer;
  padding: 0.5em;
  display: flex;
  align-items: center;
  color: black;
}

.AddTaskButton.hover {
  color: #0077CC;
}

.AddTaskButton span {
  margin-left: 5px;
}

.AddTaskField {
  display: flex;
  width: 50%;
}

.AddTaskField input {
  flex-grow: 1;
  padding: 0.5em;
}

.AddTaskField button {
  flex-shrink: 0;
}