.Task {
  display: flex;
  margin: 0.5em 0;
  border-left: 5px solid lightsalmon;
  padding-left: 0.25em;
}

.task-content {
  flex-grow: 1;
  padding-right: 5%;
}

.task-actions {
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

.task-actions .task-action {
  margin-left: 10px;
}

input[type=checkbox] {
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
}